[submodule "projects/gateway"]
	path = projects/gateway
	url = https://github.com/Dsek-LTH/gateway
	branch = master
[submodule "projects/login-service"]
	path = projects/login-service
	url = https://github.com/Dsek-LTH/login-service
	branch = master
[submodule "projects/frontend"]
	path = projects/frontend
	url = https://github.com/Dsek-LTH/frontend
[submodule "projects/profile-service"]
	path = projects/profile-service
	url = https://github.com/Dsek-LTH/profile-service
